body{
    
    background-color: floralwhite;
}

div#div-title {
    
/*      background-color:cornsilk;*/
    text-align: center;
    font-size: 24px;
        
/*
      width: 1000px;
      height: 100px;
*/

}

h1{
    text-align: center;
    
    
}

div#page-container{
    
    width: 100%; 
    margin: 0 auto; 
/*    text-align: center;*/
    
}

img#image{
    
    display:block;
    margin:auto;
}

label#text-label{
    
    font-size: 25px;
    color: darkblue;
    text-align: center;
    
    
}

label#answer-text, label#answer, input#inputtext{
/*    text-align: center;*/
    font-weight: 600;

    margin:auto;
}

p#author{
    
    font-size: 25px;
    color: darkcyan;
    text-align: center;
    margin-left: auto;
    display:block;
    
}

/*
div#formid, p#answer {
    
      width: 1000px;
  height: 100px;
  display: inline-block;
    text-align: center;
    
}
*/

div#formid {
    
      width: 1000px;
        margin:auto

    text-align: center;
    
}

ui#buttons-ul{
    
/*
    width : 1540px;
    left : 0px;
    border: 1000px;
*/
/*
    display:inline;
    text-align: center;
*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

li.li-menu{
/*
    text-align: center;
    display:inline;
*/
    margin : 10px;
    float: left;
    display: inline;
}

a.a-menu{
/*
    text-align: center;
    display: inline;
*/
    min-width: :120px;
    max-width:1040px;
    padding:10px;
    font-size: 25px;
    
}

a.a-menu:hover {
  background-color: yellow;
    font-weight: bold;
}

div#ui-container{
    /*position: relative*/
/*     text-align: center;*/
    display: inline;
    min-width: 1em;
    padding:1em;
    margin-left: 10px;
}


input.qrstring{
    
    font-size: 25px;
    background-color:beige;
    font-family: sans-serif;
    font-weight: bold;
        

    
}

label.label-headings{
    
    font-size : 35px;
    padding: 1em;
    margin: 0;
}

p.p-answer{
    
    color: darkblue;
    font-size : 25px;
    text-align: center;
    
}

img#image{
    

  display:  block;

  margin-right: auto;

 
}

div#formid{
/*    width: 600px;*/
    
/*        formdiv.setAttribute("style" ,"width:800px; margin:0 auto;")*/
    
  width: 100vw;
  position: relative;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

select#select-encryption, select#select-country{
    
    font-size: 25px;
    width: 20em;
    font-weight: bold;
}

label#label-answer{
    
    display:none;
}

p#p-copyright, a#a-copyrighttext{
    text-align: center;

    font-size: 20px;
  display:  block;

  margin-right: auto;
}

p#p-copyright :hover {
    
    font-weight: bold;
}

p#p-copyright {
    
    font-style: italic;
}

select#select-encryption :hover {
    
    border-color: gray;
    outline:none;
    
}

select#select-encryption:checked, select#select-country:checked, 
select#select-encryption:hover, select#select-country:hover {
    box-shadow: 0 0 10px 1px #004 inset;
}

input.qrstring :checked, input.qrstring:hover{

    box-shadow: 0 0 10px 1px #ffff66 inset;
}

label.label-headings{

    font-style: oblique
}
