@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');


#portfolio {
    
    color: black;
    text-decoration: none;
    padding: 0 10px;
    border-right: 1px solid #BB4545;
    font-size:3em;
    position: relative;
    top: 10px;
    text-align: center;
    
}

.title{

    font-size: 2em;
    font-weight: bold;


}

.divcontent{

    font-size:1.8em;
    text-align: center;
    /* margin-left: 140px; */
    margin-right: 40px;
    

}

.portfoliocontent{

    font-size:1.8em;
  
    /* margin-left: 140px; */
    margin-left: 40px;
}

.underline{
    text-decoration: underline;
}

.stackwords{
    font-family: 'Pacifico Script', cursive;
    /* margin-right: 550px; */
}


h1.sectionhead{
    
        
    color:black;
    text-decoration: solid;
    font-size: 2em;
    font-style: bold;
    font-family:fantasy 
}

p.items {
    
        
    font-weight: normal;
    font-size: 1em;
    color:darkslateblue;
    
}

p.subitems {
    
        
    font-weight: normal;
    color:rgb(6, 6, 7);
    font-size:1em;
    
}

h1.main-head{
    
    color: black;
    text-decoration: none;
    font-size:2.5em;
    text-align: center;
    
}

p.contact-address{
    color:dimgrey;
    font-size:20px;
    text-align: center;
    font-style: italic
    
    
    
    
}

/* p.items:hover{
    
    font-size: 1.3em;
} */


div.section-container {
    
    
    
    
}