.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.centertext {
    
    
  text-align: center;

}

div.button {
      

    background-color: blue;
    
    width:auto;
    min-width: 15vw;

    padding: 5vw;
    margin: 2vw;
    color : white;
    font-size : 6vw;
    text-align: center;
    display: inline-block;
    
    border-radius: 2vw;

}


/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 5vw;
  height: 30vw; /* Should be removed. Only for demonstration */
}

.left {
  width: 20%;
}

.centercolumn{
    
    width: 20%;
    
}
.right {
  width: 20%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 1vw;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5vw;
  font-size: 5vw;
  text-align: center;
}