/*
Copyright Ivan 2020. All rights reserved.
*/


p#titlesub, a#a-title{

    color:darkorange;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    justify-content: center;


};

div#div-title{




    color:darkorange;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;
    

}


a#nricanswer {

    font-style : italic ;
    color: crimson;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    /* justify-content: center; */


    /* width: 100px; */
    width:50%;
    margin:auto 0;
    padding:10px;
   display: inline-block;
    

}



body{

    background-color: cornsilk;
}

select#select-prefix :hover {
    
    border-color: gray;
    outline:none;
    
}

 select#select-list:checked, select#select-list:hover {
    box-shadow: 0 0 10px 1px #004 inset;
    font-weight: 700;
}

button#btn-submit :hover {
    padding-right: 25px;
}
select, button {

    font-size : 1.5em;
    --c : black;
    padding : 0.2em;
    margin-right: 0.2em;
    border-width: 2em;
    border: 0.1em solid hsl(49, 89%, 50%) ;
    border-radius: 0.5em;
}



button {

    font-weight: 800;
    background-color  : lightskyblue;
    margin-left: 10px;
}

button:disabled{

    background-color: darkgray;
}

div#div-pagecontainer {

    width: 100% ;
    margin: 0 auto;
    text-align: center;


}

div#div-disclaimer {
    overflow:hidden;
    width : 50%;
    max-width: 1000px;
    word-break:break-all;
    white-space:normal;
    display: inline;

}

ul {
    list-style: none;

}

#linkpage {

    font-size: 1.2em;
    /* color : darkblue; */
    color : black;
    /* text-decoration-color: darkblue;
    text-decoration-line : underline; */
}

/* #linkpage:hover {

    font-size: 2.1em;
    font-weight : bold ;
    text-decoration:underline;
} */

/* .link:hover{
    text-decoration:underline;
} */

input {

    font-size : 1.5em;
    border: 0.2em solid rgb(206, 209, 200);
    border-radius: 0.5em;
    width : 8em;
    text-align: center;
}

input:focus{

    font-style: italic;
    background-color: lightblue;
}

.disclaimer {

    font-style: italic;

}

.disclaimer-risk{

    font-weight: 900;
    font-size: x-large;
}

div#divInput{

    display :flex; 
    justify-content: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;


}

nav ul li.enable-button {
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    /* text-align: center; */
    line-height: 3em;
    position: relative; 
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    /* display :flexbox; */
    /* margin-left: auto;
    margin-right: auto; */
}

nav ul li.disable-button {
    --c: grey;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    background-color :lightgrey;
}


nav ul li.enable-button span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li.disable-button span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li.enable-button:hover {
    color: black;
}

.disable-button{

    color: grey
}



a span.description {
    pointer-events: none;
}

nav ul li.enable-button:hover span {
    transform: translateY(0) scale(2);
}

nav ul li.enable-button span:nth-child(1) {
    --n: 1;
}

nav ul li.enable-button span:nth-child(2) {
    --n: 2;
}

nav ul li.enable-button span:nth-child(3) {
    --n: 3;
}

nav ul li.enable-button span:nth-child(4) {
    --n: 4;
}
nav ul li.enable-button span:nth-child(5) {
    --n: 5;
}
nav ul li.enable-button span:nth-child(6) {
    --n: 6;
}


#divCopyInput, #btn-link{

    /* width: 100% ;
    margin: 0 auto;
    text-align: center; */
    display: inline-block;

}


